.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.character-label{
  margin-left:5em;
  margin-right:5em;
}

.character-label, .stat-label{
  font-size:0.7em;
  border-top:1px dotted black;
}

.character-name{
  height:68px;
}

.stats-container{
  font-size:1.1em;
}

.stat-container{
  padding: 0em 1em 0em 1em;
}

.inspiration-value, .proficiencybonus-value{
  margin-right:1em;
  font-size:1.2em;
}

.inspiration-label, .proficiencybonus-label{
  font-size:0.8em;
}

.inspiration-container, .proficiencybonus-container{
  text-align:left;
}

.proficiencyType{
  font-weight:bold;
}

.proficiencyName{
  padding-left:1em;
}

.statModifier{
  font-size:0.7em;
}