.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dndbox{
  border:solid 1px black;
  position:relative;
  float:left;
}

.container{
  width:80%;
  margin:0 auto;
}

.character-box{
  position:relative;
  height:5em;
}

.character-label{
  font-size:0.7em;
  border-top:1px dotted black;
}

.character-container{
  float:left;
  padding-left:1em;
  padding-right:1em;
  width:10em;
}

.character-name{
  height:4em;
  width:30%;
  padding-top:1em;
}

.character-name .character-value {
  font-size:1.2em;
}

.character-name .character-label {
  font-size:0.9em;
}

.stats-container{
  clear:left;
  width:4em;
}