.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dndbox{
  border:solid 1px black;
  position:relative;
}

.container{
  width:80%;
  margin:0 auto;
}

.character-box{
  position:relative;
  height:5em;
}

.character-label, .stat-label{
  font-size:0.7em;
  border-top:1px dotted black;
}

.character-container{
  float:left;
  padding-left:1em;
  padding-right:1em;
  width:13em;
}

.character-name{
  height:4em;
  width:30%;
  padding-top:1em;
}

.character-name .character-value {
  font-size:1.2em;
}

.character-name .character-label {
  font-size:0.9em;
}

.stats-container{
  clear:left;
  width:4em;
  font-size:1.1em;
}

.stat-container{
  margin-top:2em;
  margin-bottom:2em;
  border:solid black 2px;
}

.inspiration-value, .proficiencybonus-value{
  margin-right:1em;
  font-size:1.2em;
}

.inspiration-label, .proficiencybonus-label{
  font-size:0.8em;
}

.inspiration-container, .proficiencybonus-container{
  text-align:left;
}

.column{
  float:left;
}

.column-left{
  clear:left;
}

.proficiency-value{
  width:2em;
  float:left;
}

.proficiencyType{
  font-weight:bold;
}

.proficiencyName{
  padding-left:1em;
}